:root {
  color-scheme: light dark;
}

body {
  background-color: #f5f5f5;
}

.logo-container {
  text-align: center;
}

.logo {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.container {
  max-width: 680px;
  padding: 0 15px;
  width: auto;
}

.footer {
  color: #aaa;
  font-size: 0.8em;
}

.footer a:link {
  color: #aaa;
}

.list-group-item>small {
  display: block;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }

  .list-group-item {
    background-color: #000;
    border: solid 1px #000;
    border-top-color: #444;
  }

  .list-group-item:first-of-type {
    border-top-width: 0;
  }

  .list-group-item>small {
    color: #666;
  }

  .list-group-item-action {
    color: #ccc;
  }
}
